<div>

  <div class="header">
    <h1>Currency RUB</h1>
    <button mat-mini-fab color="primary" (click)="displayElements = !displayElements">
      <mat-icon *ngIf="!displayElements">add</mat-icon>
      <mat-icon *ngIf="displayElements">delete</mat-icon>
    </button>
  </div>

  <h3>{{currentTime}}</h3>

  <div class="container">
    <app-currency-card
      [value]="currencyData?.EUR"
      [oldValue]="oldCurrencyData?.EUR"
      name="EUR"
    ></app-currency-card>
    <app-currency-card
      [value]="currencyData?.USD"
      [oldValue]="oldCurrencyData?.USD"
      name="USD"
    ></app-currency-card>
    <app-currency-card
      [value]="currencyData?.GBP"
      [oldValue]="oldCurrencyData?.GBP"
      name="GBP"
    ></app-currency-card>

    <ng-container *ngIf="displayElements">
      <app-currency-card
        [value]="currencyData?.CNY"
        [oldValue]="oldCurrencyData?.CNY"
        name="CNY"
      ></app-currency-card>
      <app-currency-card
        [value]="currencyData?.JPY"
        [oldValue]="oldCurrencyData?.JPY"
        name="JPY"
      >
      </app-currency-card>
      <app-currency-card
        [value]="currencyData?.TRY"
        [oldValue]="oldCurrencyData?.TRY"
        name="TRY"
      ></app-currency-card>
    </ng-container>
  </div>

</div>
